#main_content h1 {
	color: Red;
	text-align: center;
    text-shadow: 4px 4px 4px #000;
    text-size: 3em;
	}

body {
   background-color: black;
   color: white;
   }

#main {
	width: 90%;
	margin: auto;
}

#navigation {font-size:1em}

#side_bar {
	font-size:1em;
	width: 20%;
	border-radius: 10px;
	background-color: #66CCFF;
	float: right;
}
#footer {font-size:0.9em}
 

#main_content {
   font-size:1.2em;
   width: 77%;
   padding: 15px;
   color: black;
   background-color: white;
   border-radius: 15px;
   }
   
p.postinfo {
    font-style: italic;
    font-size: small;
    }
div.post {
    margin: 10px;
    background-color: silver;
    padding: 10px;
    border-radius: 10px;
    }