h1 {
	color: Red;
	text-align: center;
	}

body {
   background-color: black;
   color: white;
   }
   
#content {
   width: 80%;
   margin: auto;
   border: 10px;
   color: black;
   background-color: white;
   }
   
div.postinfo {
    font-style: italic;
    font-size: small;
    }