#twitter {
	width: 150px; 
	margin-right: 5%;
	float: right;
	background-color: #66CCFF;
}

#twitter h1 a {
	display: block; 
	margin: 0 0 15px 0;
	font: Arial, Sans-Serif;
	font-size: 1.3em;
	 color: #004080;
	text-decoration: none;
	text-shadow: none;
	text-align: right;
}

#twitter h1 a:hover { color: #004080; }

#twitter ul {
	list-style: none; 
	margin: 0; padding: 0;
}
#twitter ul li {
		margin: 0 padding: 0;
}
#twitter ul li a {
	font: normal 0.5em Georgia, Times, Serif;
	color: #004080;
}
#twitter ul li a:hover { color: #CC0000; }

#twitter ul li span {
	font: Helvetica, Arial, Sans-Serif; 
	color: #004080;
	font-size: 0.8em;
}
#twitter ul li span a {
	font: Helvetica, Arial, Sans-Serif;
}
