#twitter {
	padding: 5px;
    background: #f2f5f6; /* old browsers */
    background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* ie */
}

#twitter h1 a {
	display: block; 
	margin: 0 0 15px 0;
	font: Arial, Sans-Serif;
	font-size: x-large;
	color: Red;
	text-decoration: none;
	text-shadow: none;
	text-align: left;
}

#twitter h1 a:hover { color: #004080; }

#twitter ul {
	list-style: none; 
	margin: 0; padding: 0;
}
#twitter ul li {
		margin-bottom: 1em ;
		padding: 0px;
}
#twitter ul li a {
	font: normal 0.7em Georgia, Times, Serif;
	color: #004080;
}
#twitter ul li a:hover { color: #CC0000; }

#twitter ul li span {
	font: Helvetica, Arial, Sans-Serif; 
	color: #004080;
	font-size: 1em;
}
#twitter ul li span a {
	font: Helvetica, Arial, Sans-Serif;
	font-size: 1em;
}
