<!DOCTYPE html>
<html>
<head>
	<link href="./stylesheets/ninjaferret.css" media="screen" rel="stylesheet" type="text/css" /> 
    <title>{{ page.title }}</title>
</head>

<body>
<div id="header">
</div>
<div id="content">
<h1>{{ page.title }}</h1>
{{ content }}
</div>
</body>
<script src="/scripts/shCore.js" type="text/javascript"></script>

  <script src="/scripts/shBrushCSharp.js" type="text/javascript"></script>

  <script src="/scripts/shBrushXml.js" type="text/javascript"></script>

  <script src="/scripts/shBrushJScript.js" type="text/javascript"></script>

  <script src="/scripts/shBrushPlain.js" type="text/javascript"></script>

  <script type="text/javascript">

  SyntaxHighlighter.all();

  </script>

</html>